/*This file entirely from MaterialFX library (palexdev, 2024)*/
#emailField:invalid {
    -fx-border-color: -mfx-red;
}

#emailField:invalid .floating-text {
    -fx-text-fill: -mfx-red;
}

#passwordField:invalid {
    -fx-border-color: -mfx-red;
}

#passwordField:invalid .floating-text {
    -fx-text-fill: -mfx-red;
}

